<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fitness App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Fitness App</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="counter">

  <p>Steps: </p>
  <p>{{count}}</p>
</div>

<ion-button expand="full" color="primary" (click)="start()" >Start</ion-button>
<ion-button expand="full" color="primary" (click)="stop()">Stop</ion-button>

</ion-content>
