<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fitness App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Fitness App</ion-title>
    </ion-toolbar>
  </ion-header>



<ion-grid class="counter">

  <ion-row class="time">
    <ion-col col-12 class="text-center">
      TIME
      <span class="time-text" *ngIf="!timeElapsed">00:00:00</span>
      <span class="time-text">{{timeElapsed | date:'HH:mm:ss'}}</span>
    </ion-col>
  </ion-row>


  <ion-row class="steps">
    <ion-col col-5 class="steps-col">
      CURRENT STEPS:
      <span class="steps-text">{{stepsCount}}</span>
    </ion-col>
    <ion-col col-2></ion-col>
   
  </ion-row>
  <ion-row class="steps">
    <ion-col col-5 class="steps-col">
      GOAL:
      <span class="steps-text">{{goal}}</span>
    </ion-col>
    <ion-col col-2></ion-col>

    <ion-row class="steps">
      <ion-col col-5 class="steps-col">
        STEPS LEFT:
        <span class="steps-text">{{stepsLeft}}</span>
      </ion-col>
      <ion-col col-2></ion-col>
     
    </ion-row>
   
  </ion-row>

  <ion-row class="start-btn">
    <ion-col col-12 class="zero-padding start-btn-col">
        <ion-button expand="full" color="primary" (click)="start()" >START</ion-button>
    </ion-col>
  </ion-row> 

  <ion-row class="start-btn">
    <ion-col col-12 class="zero-padding start-btn-col">
        <ion-button expand="full" color="primary" (click)="stop()" >STOP</ion-button>
    </ion-col>
  </ion-row> 

</ion-grid>

</ion-content>
